extends layouts/main
include mixins/videoBlock

block content
    .videos
        h1 video
        each video in videos
            +videoBlock(video)
            //- +videoBlock({
            //-     title: 'hello'
            //- })
            //- h1 #{video.title}